body {
    background-color: black;
    text-align: center;
    color: white;
}

button {
    background-color: lightgray;
    border-radius: 6px;
    margin: 6px;
}

img {
    border: 3px solid lightgray;
}

#add-comedian {
    border-radius: 6px;
    background-color: white;
    margin: 20px;
}

#new-buttons {
    padding-bottom: 25px;
}

#new-comedian {
    margin-top: 20px;
}